In [1]:
import numpy as np
import pandas as pd
import _pickle as pickle

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
print("Train : ",train.shape)
print("Test : ", test.shape)

In [3]:
data = pd.concat((train, test), axis=0)
submission_ids = test['ID'].values
np.save('./data/submission_ids.npy', submission_ids)
del train, test, submission_ids
print("All data : ", data.shape)

In [12]:
# change columns' names to make it more readiable
new_columns = ['ID', 'target']
new_columns += range(len(data.columns)-2)
cols_dict = { a:b for a,b in zip(data.columns, new_columns) }
data.rename(columns=lambda d:cols_dict[d], inplace=True)
#-----------------------------------------------
# drop ID, we won't need it anyway
data.drop(columns='ID', inplace=True)
#----------------------------------
# save to disk new train data
data.to_csv('./data/data_clean0.csv', index=False)

In [13]:
# present some info
data.head(5)
data.info()
data.shape

,target,0,1,2,3,4,5,6,7,8,...,4981,4982,4983,4984,4985,4986,4987,4988,4989,4990
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38000000.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600000.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000000.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000000.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14400000.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53801 entries, 0 to 49341
Columns: 4992 entries, target to 4990
dtypes: float64(4991), object(1)
memory usage: 2.0+ GB

(53801, 4992)