In [1]:
import numpy as np
import pandas as pd
import _pickle as pickle

In [132]:
train = pd.read_csv('./data/train.csv')

In [133]:
# change columns' names to make it more readiable
new_columns = ['ID', 'target']
new_columns += range(len(train.columns)-2)
cols_dict = { a:b for a,b in zip(train.columns, new_columns) }
train.rename(columns=lambda d:cols_dict[d], inplace=True)
#-----------------------------------------------
# drop ID, we won't need it anyway
train.drop(columns='ID', inplace=True)
#----------------------------------
# save to disk new train data
train.to_csv('./data/data_clean0.csv', index=False)

In [134]:
# present some info
train.head(5)
train.info()
train.shape

,target,0,1,2,3,4,5,6,7,8,...,4981,4982,4983,4984,4985,4986,4987,4988,4989,4990
0,38000000.0,0.0,0,0.0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,600000.0,0.0,0,0.0,0,0,0,0,0,2200000.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,10000000.0,0.0,0,0.0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,2000000.0,0.0,0,0.0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,14400000.0,0.0,0,0.0,0,0,0,0,0,2000000.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Columns: 4992 entries, target to 4990
dtypes: float64(1845), int64(3147)
memory usage: 169.8 MB