In [1]:
import numpy as np
import pandas as pd
import _pickle as pickle
from sklearn.preprocessing import MinMaxScaler

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv.zip', compression='zip')
print("Train : ",train.shape)
print("Test : ", test.shape)

Train :  (4459, 4993)
Test :  (49342, 4992)

In [3]:
target = train['target'].values
np.save('./data/target.npy', target)
train.drop(columns=['target', 'ID'], inplace=True)

submission_ids = test['ID'].values
np.save('./data/submission_ids.npy', submission_ids)
test.drop(columns=['ID'], inplace=True)

print('Train : ', train.shape, "\nTest : ", test.shape)

data = pd.concat((train, test), axis=0)

del train, test, submission_ids, target
print("All data : ", data.shape)

Train :  (4459, 4991)
Test :  (49342, 4991)
All data :  (53801, 4991)

In [4]:
# change columns' names to make it more readiable
new_columns = range(len(data.columns))
cols_dict = { a:b for a,b in zip(data.columns, new_columns) }
data.rename(columns=lambda d:cols_dict[d], inplace=True)
#-----------------------------------------------
scaler = MinMaxScaler()
data = pd.DataFrame(scaler.fit_transform(data))
#----------------------------------------------------
# save to disk new train data
#data.to_csv('./data/data_clean0.csv.zip', index=False)
data.to_csv('./data/data_clean0.csv.zip',compression='zip', index=False)

In [5]:
# present some info

print(data.info())
print(data.shape)
data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53801 entries, 0 to 53800
Columns: 4991 entries, 0 to 4990
dtypes: float64(4991)
memory usage: 2.0 GB
None
(53801, 4991)

,0,1,2,3,4,5,6,7,8,9,...,4981,4982,4983,4984,4985,4986,4987,4988,4989,4990
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006403,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005821,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0